<div class="col-3">
    <div class="menu">
        <div class="row m-0 p-0">
            <a class="menuItem <% if(active == "home") { %> <%= "active" %> <% } else { %><%= "inactive" %> <% }%>" href="/">HOME</a>
        </div>
        <div class="row m-0 p-0">
            <a class="menuItem <% if(active == "about") { %> <%= "active" %> <% } else { %><%= "inactive" %> <% }%>" href="/about">ABOUT</a>
        </div>
        <div class="row m-0 p-0">
            <a class="menuItem <% if(active == "experience") { %> <%= "active" %> <% } else { %><%= "inactive" %> <% }%>" href="/experience">EXPERIENCE</a>
        </div>
        <div class="row m-0 p-0">
            <a class="menuItem <% if(active == "projects") { %> <%= "active" %> <% } else { %><%= "inactive" %> <% }%>" href="/projects">PROJECTS</a>
        </div>
        <div class="row m-0 p-0">
            <a class="menuItem <% if(active == "contact") { %> <%= "active" %> <% } else { %><%= "inactive" %> <% }%>" href="/contact">CONTACT</a>
        </div>
    </div>
</div>